body { font-size:1.5em; font-family:'Helvetica', 'Arial', sans-serif; color:#fff; }

a, a:hover, a:focus { cursor:pointer; text-decoration:none; }
img { height:auto !important; max-width:100%; transition:opacity 1.2s; }

.relative { position:relative; }
.absolute { position:absolute; }

.text-1 { font-weight:bold; font-size:2.8em; line-height:120%; }
.text-2 { font-size:1.7em; line-height:120%; }
.text-3 { font-size:1.2em; }
.kill-padding { padding:0; }

.text-black { color:#000; }
.text-grey { color: grey !important; }
.font-bold { font-weight:bold; }
.text-align-center { text-align:center; }
.p-top20 { padding-top:20px; }
.p-bottom-20 { padding-bottom:20px; }

iframe.gtm { display:none; visibility:hidden; height:0; width:0; }

.redeem-btn { width:60%; padding:10px; margin-top:30px; color:#fff; background-color:#eb1c24; clear:both; }
.redeem-btn:hover, .redeem-btn:focus { color:#fff; }
.howtoredeem-btn{background-color: transparent;border-color: #fff;}
.redeem-text{margin:20px auto 0;max-width: 600px;}
.text-black{color:#000;}
.partner-title{white-space: pre;}

/** HEADER **/

#header-container { height:656px; color:#fff; background-position:left top; background-size:auto; background-repeat:repeat-x; }
#header-container a { color:#eee; }
#header-container a:hover { color:#fff; }

#header-container h1 { font-size:2.7em; line-height:130%; font-weight:bold; margin:30px 0 8px; }
#header-container h2 { font-size:1.4em; line-height:160%; max-width:600px; }

#header-container .absolute {
height:100%; width:100%;
background: -moz-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 30%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 30%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 30%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#00000000',GradientType=1 );
}
#header-container .inner-wrapper { padding:40px 40px 0; }

#header-container .logo { float:left; max-width:100%; }
#header-container .logo:first-child { margin-right:30px; }

#header-container .redeem-btn { width:60%; max-width:400px; }

#header-container .lang { position:absolute; z-index:1; top:20px; right:20px; font-size:85%; padding:7px 15px; background-color:rgba(0,0,0,.7);
border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; }
#header-container .lang .sep { margin:0 15px; color:#999; }


/** FEATURE **/

#feature-container { padding:30px 0 40px; color:#fff; background:#222; }
#feature-container .icons-row { padding: 20px 0; }
#feature-container .icons { width:100%; padding-bottom:20px; }
#feature-container .icon-text-1 { font-size:120%; color:#e52a4c; }
#feature-container .col-xs-4 { padding-bottom:20px; }


/** STEP **/

#step-container { padding:20px 0 50px; background: #000; }
#step-container img { display:block; width:100%; padding:10px 10px 15px; }
#step-container .redeem-row { padding:15px 0; }


/** FAQ **/

#faq-container { padding:20px 20px 25px; background-color:#fff; }
#faq-container .panel-group { padding-top:10px; }
#faq-container .panel-group .panel { border-radius: 0; box-shadow:none; border-color: #EEEEEE; }
#faq-container .panel-default > .panel-heading {
  padding:0;
  border-radius:0;
  color: #212121;
  background-color: #f5f5f5;
  border-color: #EEEEEE;
}
#faq-container .panel-title { font-size:14px; }
#faq-container .panel-heading h4 { color:#000; font-weight:bold; }
#faq-container .panel-title > a { text-decoration:none; display:block; padding:15px; }
#faq-container .more-less { float:right; color: #212121; }
#faq-container .panel-default { margin: 15px 0 !important; }
.panel-default > .panel-heading + .panel-collapse > .panel-body { border-top-color: #EEEEEE; }
.panel-body {
  padding-top: 0;
  border-top: none !important;
  color: #333;
  background: #f5f5f5;
}


/** CONTACT **/

#contact-us { padding: 20px 0 25px 0; background: #444; }
.mail-icon { width:60px; margin-right: 20px; }
.mail-icon-text { padding-top:18px; }
.phone-icon { width: 60px; margin-right:20px; padding-top:10px; }
.contact-us-box { display:inline-block; width:300px; }
.contact-us-box p { text-align:left; }


/** TERMS **/

#terms { padding: 20px 0 25px 0; background:#fff; }
.terms-btn, .terms-btn:hover, .terms-btn:focus { color:#000; }


/** FOOTER **/

#footer { padding: 30px 20px; text-align:center; background-color:#000; }
#footer li { list-style-type:none; }
#footer .small { font-size:80%; font-weight:100; color:#999; }
#footer .footer-icon { margin-right:20px; }

#footer .footer-sitemap { padding:20px 0 0; }
#footer .footer-sitemap a { display:inline; padding:0 20px; color:#fff; border-right:1px solid #666; }
#footer .footer-sitemap a.no-border { border-right:0; }
#footer .footer-sitemap .small { margin-top:10px; }

#footer .footer { width:150px; margin:20px auto 0; position:relative; text-align:right; }
#footer .footer .small { position:absolute; left:0; top:8px; }
#footer .footer .smg-logo { width:70px; }


@media only screen and (max-width:900px)
{
  #header-container .logo { display:block; float:none; }
	#header-container .logo:first-child { margin-right:0; }
  #header-container .absolute {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#e6000000',GradientType=0 );
  }
	#header-container .redeem-btn { width:100%; }
	#header-container .lang { top:15px; font-size:80%; padding:6px 12px; background-color:rgba(0,0,0,0); }
	#feature-container .col-md-6 { clear:both; }
}

@media only screen and (max-width:600px)
{
	#header-container .lang { top:15px; font-size:80%; padding:6px 12px; }
  #header-container h1 { font-size:2.5em; line-height:130%; }
  #header-container h2 { font-size:1.2em; line-height:160%; }
}

@media only screen and (max-width:480px)
{
  #header-container h1 { font-size:2.2em; }
  #header-container h2 { font-size:1.1em; }
}

@media only screen and (max-width:350px)
{
  #header-container h1 { font-size:2em; }
	#header-container h2 { font-size:1em; }
}
